@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// Font Family
$mainFont: 'Poppins', sans-serif;

// Font Size
$largeFontDesktop: 154px;
$largeFontMobile: 42px;
$halfTitleDesktop: 42px;
$halfTitleMobile: 28px;
$bodyCopyDesktop: 16px;
$bodyCopyMobile: 14px;

$margin: 30px;

// Main Colour Swatches
$primaryColor: #ff6600;
$darkColor: #121212;
$lightColor: #fff;
$secondaryColor: #0099FF;
$accentColor: #99FF00;

// primary color pallette
$primaryColor-0: #FFF9F5;
$primaryColor-100: #FDD8C0;
$primaryColor-200: #F9B88D;
$primaryColor-300: #F29C62;
$primaryColor-400: #E98440;
$primaryColor-500: #DD6F26;
$primaryColor-600: #CD5E15;
$primaryColor-700: #B84F09;
$primaryColor-800: #A04203;
$primaryColor-900: #873600;

// secondary color pallette
$secondaryColor-0: #F5FBFF;
$secondaryColor-100: #C5E7FD;
$secondaryColor-200: #98D2F9;
$secondaryColor-300: #70BEF2;
$secondaryColor-400: #50ACE9;
$secondaryColor-500: #389BDD;
$secondaryColor-600: #278ACD;
$secondaryColor-700: #1B79B8;
$secondaryColor-800: #1367A0;
$secondaryColor-900: #0E5687;

// accent color pallette
$accentColor-0: #FBFFF5;
$accentColor-100: #E5FDC0;
$accentColor-200: #CEF98D;
$accentColor-300: #B9F262;
$accentColor-400: #A5E940;
$accentColor-500: #94DD26;
$accentColor-600: #83CD15;
$accentColor-700: #72B809;
$accentColor-800: #61A003;
$accentColor-900: #518700;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.title {
  font-family: $mainFont;
  font-size: $largeFontDesktop;
  color: $primaryColor;
  margin-bottom: $margin;
  font-weight: 600;

  @media screen and (max-width: 768px) {
    font-size: $largeFontMobile;
  }
}

.bodyCopy {
  font-size: $bodyCopyDesktop;
  color: $darkColor;
  line-height: 1.6;
  font-weight: 300;

  @media screen and (max-width: 600px) {
    font-size: $bodyCopyMobile;
  }
}

.half-title {
  font-size: $halfTitleDesktop;
  color: $darkColor;
  line-height: 1.3;
  font-weight: 500;

  @media screen and (max-width: 600px) {
    font-size: $halfTitleMobile;
  }
}

.highlight-text {
  color: $primaryColor;
}

.center {
  text-align: center;
}

.customBtn {
  height: 60px;
  background: $secondaryColor-500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-decoration: none;
  border-radius: 8px;
  color: $lightColor;
}

.mini-sub-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 5px;
  color: $primaryColor;
}

.inline-flex-btn {
  display: inline-flex;
  margin: 20px 0;
  text-decoration: none;
  text-transform: capitalize;
}

.outline-btn {
  background-color: transparent;
  color: $primaryColor;
  border: 1px solid $primaryColor;
  padding: 20px 25px;
  border-radius: 8px;
}