@import '_global.scss';

body {
  font-family: $mainFont;
  overflow-x: hidden;
  position: relative;
  background-color: #FCFCFC;
  word-wrap: break-word;
}

nav {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 300;
  background-color: $lightColor;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // Logo style
    .logo {
      img {
        width: 80px;
        height: auto;
      }
    }

    .nav-container {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      .bars {
        width: 50px;
        height: 50px;
        position: relative;

        .bar {
          position: absolute;
          width: 50%;
          height: 2px;
          background: $primaryColor;
          left: 50%;
          transform: translateX(-50%);
          transform-origin: center;

          &.one {
            top: 40%;
          }

          &.two {
            top: 60%;
          }
        }
      }

      // nav-label
      .nav-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 24px;
        overflow: hidden;
      }

      .navMenu {
        position: absolute;
        bottom: -100%;
        left: 25%;
        transform: translate(-25%, 85%);
        background-color: $primaryColor;
        box-shadow: 10px 15px 25px rgba(255, 102, 0, 0.3);
        padding: 40px 30px;
        place-items: center;
        border-radius: 8px;
        display: none;
        opacity: 0;
        z-index: 301;
        width: 20vh;
        min-height: 20vh;

        @media screen and (max-width:1024px) {
          left: 100%;
          transform: translate(-100%, 85%);
        }

        @media screen and (max-width:768px) {
          left: 100%;
          transform: translate(-100%, 85%);
        }

        .navList {
          padding-left: 0;
          list-style: none;

          .navItem {
            margin: 16px 0;

            .navLink {
              color: $lightColor;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

// Hero section
#hero {
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .bubblesContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background-color: $darkColor;
    z-index: -1;
    overflow-x: hidden;

    .bubble {
      background-color: $primaryColor;
      border-radius: 50%;
      position: absolute;

      &.b-1 {
        bottom: -8%;
        left: 8%;
      }

      &.b-2 {
        bottom: -16%;
        left: 16%;
      }

      &.b-3 {
        bottom: -22.5%;
        left: 22.5%;
      }

      &.b-4 {
        bottom: -29%;
        left: 29%;
      }

      &.b-5 {
        bottom: -35.5%;
        left: 35.5%;
      }

      &.b-6 {
        bottom: -42%;
        left: 42%;
      }

      &.b-7 {
        bottom: -48.5%;
        left: 48.5%;
      }

      &.b-8 {
        bottom: -55%;
        left: 55%;
      }

      &.b-9 {
        bottom: -61.5%;
        left: 61.5%;
      }

      &.b-10 {
        bottom: -68%;
        left: 68%;
      }

      &.b-11 {
        bottom: -80%;
        left: 80%;
      }

      &.b-12 {
        bottom: -92%;
        left: 92%;
        width: 40px !important;
        height: 40px !important;
      }

      &:nth-child(odd) {
        opacity: 0.4;
        width: 15px;
        height: 15px;
      }

      &:nth-child(even) {
        width: 10px;
        height: 10px;
      }
    }
  }
}

// Clientele
#clientele {
  position: relative;

  .move-container-halfway {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 15px 25px rgba(58, 55, 55, 0.02) !important;
  }

  .swiper {
    height: 100px;
    width: 100%;

    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .client-box-img {
        width: 100%;
        display: flex;
        justify-content: center;

        img {
          // display: block;
          width: 140px;
          height: 100%;
          object-fit: cover;

          @media screen and (max-width: 500px) {
            width: 80px;
          }
        }
      }
    }
  }
}

// About Us Home
#about {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

// Services
#services {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .custom-card {
    position: relative;
    background-color: $lightColor;
    box-shadow: 0px 15px 25px rgba(73, 69, 69, 0.02);
    padding: 46px 28px 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    height: 100%;

    .img-scale-off-top {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 34px;
        height: 34px;

        @media screen and (max-width: 768px) {
          width: 24px;
          height: 24px;
        }
      }
    }

    .card-heading {
      h4 {
        font-size: 18px;
        color: #ff6600 !important;
      }
    }
  }
}

// CTA ONE
.call-to-action-one {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: $primaryColor-0;
  color: $primaryColor;

  .cta-title {
    font-size: 70px;
  }

  @media screen and (max-width: 768px) {
    .cta-title {
      font-size: 40px;
    }
  }
}

// Testimonials
#testimonials {
  min-height: 75vh;
  display: grid;
  place-items: center;

  .swiper {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;

    @media screen and (max-width: 768px) {
      width: 350px;
    }

    @media screen and (max-width: 500px) {
      width: 270px;
    }

    .swiper-slide {
      border-radius: 10px;
      padding: 28px;
      min-height: 300px;
      display: grid;
      place-items: center;
      text-align: center;

      &:nth-child(1) {
        background-color: $secondaryColor-0;
      }

      &:nth-child(2) {
        background-color: $primaryColor-0;
      }

      &:nth-child(3) {
        background-color: $accentColor-0;
      }
    }

    .img-testimonials {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }

    h3 {
      font-size: 18px;
      font-weight: 500;
    }

    .bodyCopy {
      font-size: 16px;
    }

    .user-details {
      .user-name {
        font-size: 13px;
        font-weight: 500;
        color: $primaryColor;
      }

      .user-role {
        font-size: 10px;
        font-weight: 600;
      }
    }
  }

  .testimonial-caption {
    font-size: 50px;
    line-height: 1.2;

    @media screen and (max-width: 768px) {
      font-size: 25px;
    }
  }
}

// CTA TWO
.call-to-action-two {
  min-height: 100vh;
  display: flex;
  place-items: center;

  .mini-sub-title {
    color: $primaryColor;
  }

  .cta-title {
    font-size: 36px;
  }

  @media screen and (max-width: 768px) {
    .cta-title {
      font-size: 28px;
    }
  }
}

// Portfolio Home
#portfolio {
  .work-img {
    img {
      border-radius: 10px;
    }
  }

  .work-details {
    margin-top: $margin;

    .clientsName {
      text-transform: capitalize;
      font-size: 24px;
      font-weight: 500;
    }

    .service {
      font-size: 14px;
      font-weight: 300;
    }
  }
}

// Before Footer
#before-footer {
  background-color: $primaryColor-0;

  .half-title {
    color: $primaryColor;
  }

  .ask-button {
    color: $darkColor;
    padding: 20px 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px solid $darkColor;

    @media screen and (max-width: 768px) {
      padding: 15px 25px;
      font-size: 14px;
    }
  }
}

// Footer
#footer {
  min-height: 65vh;
  display: grid;
  place-items: center;

  .container {
    border-color: rgba(0, 0, 0, 0.2);
  }

  // Subscription Form
  .sub-form {
    position: relative;

    #subscriber {
      padding: 16px 10px;

      &::placeholder {
        font-size: 14px;
        color: #959696;
      }
    }

    .omenala-button-subscribe {
      position: absolute;
      top: 8px;
      right: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      color: #ffffff;
      border-radius: 5px;
      border: none;
      background-color: $primaryColor;
    }
  }

  // Help Links
  .help-links {
    padding-left: 0;
    list-style: none;

    .links-within-list {
      margin: 20px 0;

      @media screen and (max-width: 768px) {
        margin: 12px 0;
      }

      a {
        text-decoration: none;
        color: $lightTextColor;
        font-size: 15px;
        font-weight: 400;
      }
    }
  }

  .footer-sub-title {
    font-size: 20px;
    color: $primaryColor;
  }
}

.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background: $primaryColor;
  border-radius: 50%;
  z-index: 20000;
  user-select: none;
  pointer-events: none;
}

.miniCursor {
  position: fixed;
  width: 45px;
  height: 45px;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 50%;
  z-index: 10009;
  user-select: none;
  pointer-events: none;
  border: 2px solid $primaryColor;
}

@media screen and (max-width: 768px) {

  .cursor,
  .miniCursor {
    display: none;
  }
}

// About Us Page
#about-hero {
  min-height: 45vh;

  .hero-intro {
    width: 100%;
    height: 60vh;
    background: url('../assets/about-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 2rem;
    border-radius: 8px;
    display: grid;
    place-items: end center;

    .glassmorphism-box {
      background: linear-gradient(91.29deg, rgba(60, 60, 60, 0.4) 0%, rgba(39, 39, 39, 0.5) 100%);
      backdrop-filter: blur(7px);
      border-radius: 8px;
      padding: 1.2rem;
      width: 100%;

      .glass-text {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: 400;
        color: $lightColor;
        margin-bottom: 0;
      }
    }
  }

  .about-hero-title {
    font-size: 64px;
    color: $darkTextColor;

    @media screen and (max-width: 768px) {
      font-size: 35px;
    }
  }

  .about-hero-link {

    .explore-about {
      text-decoration: none;
      color: $darkTextColor;
    }
  }
}

// About After
#about-after {
  min-height: 45vh;
  display: grid;
  place-items: center;
}

// Vision & Mission
#vam {
  min-height: 100vh;
  background-color: $primaryColor-0;
  display: grid;
  place-items: center;

  .number {
    font-size: 16px;
    // color: $primaryColor;
  }

  .vam-title {
    font-size: 16px;
    color: $primaryColor;
  }

  .phone {
    position: relative;
    width: 360px;
    height: 700px;

    .phone-case {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 9;
    }

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
      height: 95%;
      border-radius: 10px;
      z-index: 10;
    }
  }
}

#values {
  min-height: 100vh;
  display: grid;
  place-items: center;

  .swiper {
    height: 550px;
    width: 100%;
    position: relative;

    @media screen and (max-width:500px) {
      width: 300px;
    }

    .swiper-slide {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      color: $lightColor;
      border-radius: 10px;
      height: 90%;

      &#swiper-child-1 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 1.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &#swiper-child-2 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 2.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &#swiper-child-3 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 3.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &#swiper-child-4 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 4.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &#swiper-child-5 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 5.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &#swiper-child-6 {
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/Value\ 6.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .swiper-title {
        font-size: 18px;
      }

      .swiper-number-title {
        font-size: 13px;
      }

      .bodyCopy {
        color: $lightColor;
      }
    }

    .swiper-pagination-bullet-active {
      background-color: $primaryColor;
    }
  }
}

// Contact Page
#contact-hero {
  min-height: 95vh;
  display: grid;
  place-items: center;

  .inline-link {
    color: $primaryColor;
    font-weight: 500;
    text-decoration: none;
  }

  .contact-hero-title {
    font-size: 64px;
    color: $darkTextColor;

    @media screen and (max-width: 768px) {
      font-size: 35px;
    }
  }
}

//Form Styling
form {

  label {
    font-size: 14px;
    color: $darkTextColor;

    &.form-check-label {
      @media screen and (max-width: 500px) {
        font-size: 12px;
      }
    }
  }

  input {
    &.input-style {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
    }

    &::placeholder {
      font-size: 14px;
      color: #9E9D9D;
    }
  }

  select {
    &.input-style {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 10px 16px;
      gap: 10px;
      font-size: 14px;
    }
  }

  .iti {
    display: flex;
  }

  textarea {
    resize: none;
  }

  .agree-link {
    color: $primaryColor;
    text-decoration: none;
    font-weight: 500;
  }

  button {
    border: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;
    text-decoration: none;
    background-color: $primaryColor;
    color: $lightColor;
    border-radius: 8px;

    @media screen and (width: 1366px) {
      padding: 13px 20px;
    }

    @media screen and (max-width: 500px) {
      display: flex;
      width: 100%;
      margin: 8px 0;
    }
  }
}

// Contact Map
.contact-map {
  .overlay {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .directions-button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 26px;
    gap: 10px;
    border-radius: 10px;
    background-color: $secondaryColor;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #FFFFFF;

    &:hover {
      color: #FFFFFF;
    }
  }
}

// Portfolio Page
#portfolio-grid {
  .portfolio-grid-link {
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 50vh;
    transition: all .8s ease-in-out;
    background-position: center !important;
    background-size: 100% !important;
    background-repeat: no-repeat !important;
    border-radius: 10px;
    overflow: hidden;

    @media screen and (max-width: 768px) {
      min-height: 30vh;
    }

    &:hover {
      background-size: 110% !important;
    }

    .project-title {
      font-size: 18px;
      font-weight: 400;
      color: $lightColor;
    }

    &#bat {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/works/BAT-2.jpg');
    }

    &#mc {
      background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/works/MC-2.jpg');
    }

    &#yt {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/YT-1.jpg');
    }

    &#stb {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/STB-4.jpg');
    }

    &#aopn {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/AOPN-1.jpg');
    }

    &#bizcon {
      background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/BIZCON-3.jpg');
    }

  }
}

// Portfolio-Inner
.portfolio-hero {
  min-height: 85vh;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;


  &#bat {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../assets/works/BAT-Bg.jpg');
  }

  &#mc {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../assets/works/MC-Bg.jpg');
  }

  &#yt {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/YT-4.jpg');
  }

  &#stb {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/STB-1.jpg');
  }

  &#aopn {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/aopn-1.jpg');
  }

  &#bizcon {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../assets/works/BIZCON-3.jpg');
  }
}

#portfolio-details {
  min-height: 75vh;
  display: grid;
  place-items: center;

  .project-title {
    font-size: 20px;
    font-weight: 500;
  }
}